
.success-grid {
    margin: 0 auto;
      display: grid;
      grid-gap: 15px;
      
    }
.icon{
    font-size: 150px;
    color:#B6E609;
}

.successful{
    margin-top: 40px;
    color:#FFB90B;
}

.order{
    color:#696969;
    size: 15px;
    margin-top: 15px;
}