/* Contact page styles */

  /*contact*/
.form {
  grid-area: main;
  display: flex;
  align-items: center;
}

input[type="text"] {
  padding: 10px;
  margin: 10px 0;
  width: 350px;
}

.textarea {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  margin: 15px 0;
  width: 350px;
}

.contact-us{
  grid-area: main;
  display: flex;
  align-items: baseline;
  color:#707070;
  font-family: Arial, Helvetica, sans-serif;
}

.button-submit {
  display: grid;
  padding: 10px;
  border: none;
  background-color: #ffb90b;
  color: #fff;
  font-weight: 600;
  width: 150px;
  cursor: pointer;
}