.grid-container {
max-width: 1500px;
margin: 0 auto;
  display: grid;
  grid-gap: 15px;
  column-gap: 15px;
  grid-template-columns: 27% 60% 20%;
  grid-template-rows: 200px 70px 650px;
  grid-template-areas:
    "nav title aside"
    "nav main aside"
    "nav main aside";
}
/* colum-horisontal (bortover) */
/* row -vertical (nedover)*/

/*grid-template-rows: auto auto auto 1fr; Auto= vil kun ta opp den plassen elementet trenger 1fr=resen av plassen*/


.nav {
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-wrap: wrap;
  z-index: 2;
  flex-direction: column;
}
.nav-background {
  grid-area: nav;
  overflow: hidden;
  width: auto;
  z-index:1;
}
.nav-background img {
    width: 100%;
}

.nav-logo {
    grid-area: nav;
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 2;
    flex-direction:column;
}

nav button {
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    width: 150px;
    margin: 20px;;
    background-color: #fff;
    padding: 5px; /* shortcut for padding 1. px is top and bottom 2. one is left and right*/
    font-size: 20px;
    display: inline-block;
    transition-property: background-color;
    transition-duration: 1s; 
    transition: width 1s;
    text-decoration: none; /*ikke kicket inn*/
    color: #cf4e02; /*ikke kicket inn*/
}
.nav button:hover {
    background-color:#cf4e02;
    transition-property: background-color;
    transition-duration: 0,5s;
    width: 200px;
  
  }
  
  .nav button:hover a{
    color:#fff !important;
  }

h1 {
    grid-area: nav;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
    color: #cf4e02;
  }

.title {
    grid-area: title;
    display: flex;
    font-weight:lighter;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #cf4e02;
    background-color: white;
    margin: 0%;
    flex-direction: row;
   align-items: center;
}
  }

.nav-menu {
  left: 0;
  width: 20%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

main {
  grid-area: main;
  display: flex;
  background-color: white;
  padding: 20px 20px;
}

.form {
    grid-area: main;
    display: flex;
align-items: center;
box-sizing: border-box;
padding: 20px;
margin: 10px;
}

input[type=text] {
    padding: 5px;
    margin:10px 0;
    width: 50%;
  }

.aside-background {
    grid-area: aside;
    overflow: hidden;
    width: auto;
    z-index: 1;
}
.aside-background img {
    width: 110%;
}
.aside {
  grid-area: aside;
  display: flex;
  align-items: flex-start;
  margin: 15px;
  justify-content: space-evenly;
  overflow: hidden;
  flex-wrap: wrap;
  z-index: 2;
  flex-direction: row;
  font-size: 2rem;
}
.aside-sosial{
    grid-area: aside;
    display: flex;
    align-items: flex-end;
    margin: 15px;
    justify-content: space-evenly;
    overflow: hidden;
    flex-wrap: wrap;
    z-index: 2;
    flex-direction: row;
    font-size: 2rem;
    
}
.aside a {
    color: #cf4e02;
}
.aside-sosial a {
    color: #000000;
    background: #ffffff79;
}



/* flexbox
    justify-content — controls alignment of all items on the main axis.
    align-items — controls alignment of all items on the cross axis.
    align-self — controls alignment of an individual flex item on the cross axis.
    align-content — described in the spec as for “packing flex lines”; controls space between flex lines on the cross axis.
*/
