/* All grid layouts */
.jacket-page-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  grid-template-areas: "jacket colors";
}

.jacket-area {
  grid-area: jacket;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 70% 20%;
  grid-template-areas:
    "big"
    "selection";
}

.colors-area {
  grid-area: colors;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    "text"
    "color-selection"
    "footer";
}

/* Grid element positioning and style */


.jacket-area img {
  padding: 5px;
  width: 90%;
  height: 90%;
  object-fit: scale-down;
}

.big {
  grid-area: big;
}

.selection {
  grid-area: selection;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.selection div { 
  background-color: #ebebeb;
}
.selection div:not(:first-child){
  margin-left: 10px;
}

.colors-area-text {
  grid-area: text;
  color: #696969;
  font-size: 1.2rem;
}

.description {
  color: #696969;
  font-size: 1rem;
}

.colors-area-text > div {
  margin-bottom: 2rem;
}

.color-area-selection {
  grid-area: color-selection;
  display: flex;
  justify-content: space-evenly;
}

.color-area-footer {
  grid-area: footer;
}

.button-color {
  padding: 8px;
  border: none;
  background-color: #ffb90b;
  color: #fff;
  font-weight: 600;
  width: 285px;
  margin: 50px;
}

.box {
  width: 32px;
  height: 32px;
}

.grey-light-bg {
  background-color: #ebebeb;
}

.yellow-bg {
  background-color: #ffb90b;
}

.green-bg {
  background-color: #465902;
}

.black-bg {
  background-color: black;
}

.grey-bg {
  background-color: #696969;
}

.desk{
  margin-top: 12px;
}