/* Shop */ 

/* Shop page styles */
.grid {
    background: rgb(255, 255, 255);
    min-height: 50vh;
    display: grid;
    position: absolute;
    grid-gap: 5em;
    grid-template-rows: auto 1fr auto auto;
    grid-template-columns: auto auto;
  }

.Grid {
    background: lightblue ;
    min-height: 100vh;
    display: grid;
    grid-gap: 1em;
    grid-template-rows: auto 1fr auto auto;
    grid-template-areas: 
    'main main'
    'main footer'
    ;
}
main, footer {
    background: white;
  }
  
  header{grid-area: header;}
  main{grid-area: main;}
  footer{grid-area: footer;}

  